# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/dist/
.todo

*.nupkg
.vscode/
.idea/

# Path for actions cache created when running tests
pkg/runner/act/

# act binary
dist/local/act
dist/local/gnostr-act
bin/act
bin/gnostr-act

go1.21.0.darwin-amd64.tar.gz
go1.21.0.linux-amd64.tar.gz

coverage.txt

.env
.secrets

# megalinter
report/

# go
go
